@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
#app {
    height: 100%;
}
.vertical-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Components */
